<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>How Amy Klobuchar's campaign is doing, by the numbers</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-11-11T16:00:00">October 15, 2019</time>
      </div>
      <p></p>
      <!-- share -->
    </section>
    
    <section class="container-lg">
        <p>Since she declared her candidacy for president in February, U.S. Sen. Amy Klobuchar has continued to survive amid a crowded Democratic field, qualifying most recently for tonight's debate.</p>
  
        <p>But as 2020 approaches, she remains stuck near the back of the pack, lagging behind the frontrunners in the polls, fundraising and other measures of enthusiasm. So far she has not yet qualified for the fifth Democratic debate in November.</p>
  
        <p>Here's a look at how her campaign has been doing so far, by the numbers:</p>
    </section>
  
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">National polling average</h2>
    <section class="container-lg leadin">
        <p></p>
        <p>At 1.6 percent, Klobuchar's national polling average remains near the bottom of the pack, according to <a href="https://www.realclearpolitics.com/epolls/2020/president/us/2020_democratic_presidential_nomination-6730.html" target="new_">Real Clear Politics</a>, a service that aggregates poll numbers.</p>
  
        <p>She is doing slightly better in Iowa and New Hampshire, polling at 2.3 and 2.7 percent, respectively.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">1.6%</div>
        <div class="metric">tied for <strong>8th place</strong> (out of 13)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>
  
  
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Third-quarter fundraising</h2>
    <section class="container-lg leadin">
        <p></p>
       <p>Klobuchar <a href="http://www.startribune.com/sen-amy-klobuchar-raised-4-8-million-in-third-quarter/562475062/">raised $4.8 million</a> in the third quarter, according to her campaign — an increase from the $3.87 million she raised in the second quarter, but still <a href="https://www.politico.com/2020-election/president/democratic-primary/candidates/fundraising-and-campaign-finance-tracker/" target="new_">far behind her leading rivals</a>.</p>
  
       <p>By comparison, Senators Bernie Sanders and Elizabeth Warren each reported raising roughly $25 million in the most recent quarter, which runs from July through September.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">$4.8 million</div>
        <div class="metric">ranked <strong>8th place</strong> (out of 25)</div>  
        <div class="byline center">last updated October 15, 2019</div>
    </div>


  
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Major political endorsements</h2>
    <section class="container-lg leadin">
        <p></p>
        <p>Klobuchar has secured campaign endorsements from several high-profile Minnesota politicians, including Gov. Tim Walz, four members of Congress and former Vice President Walter Mondale. But she hasn't yet drawn prominent support from outside the state.</p>
  
        <p>According to the website FiveThirtyEight, <a href="https://projects.fivethirtyeight.com/2020-endorsements/democratic-primary/" target="new_">which tracks major political endorsements</a>, Klobuchar sits in the middle of the pack when counting endorsements from party leaders, governors, state officials, members of Congress and mayors of large cities.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">12</div>
        <div class="metric">ranked <strong>6th place</strong> (out of 11)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>
  
  

    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Total debate speaking time</h2>
    <section class="container-lg leadin">
        <p></p>
       <p>As the Democratic field has narrowed, Klobuchar has earned more speaking time during major debates. But the total time she has spoken across the three debates conducted so far — calculated using numbers tabulated by <a href="https://www.washingtonpost.com/graphics/2019/politics/who-spoke-most-at-democratic-debate-september/" target="new_">The Washington Post</a> and CNN — is roughly four minutes less than average and far behind the race's frontrunners.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">29.6 minutes</div>
        <div class="metric">ranked <strong>9th place</strong> (out of 21)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>
  
    
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Average Google search share</h2>
    <section class="container-lg leadin">
       <p></p>
       <p>Search interest for candidates ebbs and flows, and Klobuchar saw her greatest spike in Google searches surrounding the third debate in September.</p>
  
       <p>But according to Bully Pulpit Interactive, a Democratic firm that tracks digital metrics like search interest, Klobuchar has trailed even many of her lesser-known rivals in <a href="https://2020campaigntracker.com/#shiny-tab-search_interest" target="new_">daily Google searches</a> between April and October.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">1.2%</div>
        <div class="metric">ranked <strong>17th place</strong> (out of 25)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>
  
    <div class="slide" id="change">
      <div class="chart"></div>
      <div class="byline">Data sources: Real Clear Politics, Federal Election Commission, FiveThirtyEight, The Washington Post, CNN, Bully Pulpit Interactive, Star Tribune reporting | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


  
  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota's hidden veteran deathtoll continues its rise" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
    </div>
  </section>
  </div>