
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>Klobuchar's presidential campaign, by the numbers</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">October 16, 2019</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Lorem ipsum dolor amet yOLO pork belly twee, helvetica letterpress mlkshk aute. Keffiyeh affogato aliquip sunt leggings. Hell of reprehenderit williamsburg in knausgaard. Selvage try-hard sriracha messenger bag palo santo fam kinfolk elit unicorn minim locavore trust fund post-ironic synth crucifix.</p>

      <p>Lorem ipsum dolor amet yOLO pork belly twee, helvetica letterpress mlkshk aute. Keffiyeh affogato aliquip sunt leggings. Hell of reprehenderit williamsburg in knausgaard. Selvage try-hard sriracha messenger bag palo santo fam kinfolk elit unicorn minim locavore trust fund post-ironic synth crucifix.</p>
  </section>

 <div class="slide" id="change">
    <div class="chart">
      <div class="row"><div class="metric"><div class="icon"></div></div><div class="measure">&nbsp;</div></div>
      <div class="row"><div class="metric"><div class="icon"></div></div><div class="measure">&nbsp;</div></div>
      <div class="row"><div class="metric"><div class="icon"></div></div><div class="measure">&nbsp;</div></div>
      <div class="row"><div class="metric"><div class="icon"></div></div><div class="measure">&nbsp;</div></div>
      <div class="row"><div class="metric"><div class="icon"></div></div><div class="measure">&nbsp;</div></div>
      <div class="row"><div class="metric"><div class="icon"></div></div><div class="measure">&nbsp;</div></div>
    </div>
  </div>


  
  <div class="slide" id="change">
    <div class="chart"></div>
    <div class="byline">Data sources: Real Clear Politics, CNN, Center for Public Integrity, Federal Election Commission, Star Tribune reporting | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

<section class="container-lg">
    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota's hidden veteran deathtoll continues its rise" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>
