<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
        <h1>How Amy Klobuchar's campaign is doing, by the numbers</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
            <address> and
              <a rel="author" href="http://www.startribune.com/torey-van-oot/503387641/">Torey Van Oot</a>
            </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-12-1016:00:00">January 27, 2020</time>
      </div>
      <p></p>
      <!-- share -->
    </section>
    
    <section class="container-lg">
        <p>Since she declared her candidacy for president in February, U.S. Sen. Amy Klobuchar has continued to survive amid a crowded Democratic field, qualifying most recently for tonight's debate.</p>
  
        <p>But as 2020's primary votes approach, she remains stuck near the back of the pack, lagging behind the frontrunners in the polls, fundraising and other measures of enthusiasm.</p>
  
        <p>Here's a look at how her campaign has been doing so far, by the numbers:</p>
    </section>
  
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Recent developments</h2>
    <section class="container-lg leadin">
        <p></p>

        <div class="byline">
            <div class="center"><time>Jan. 3, 2020</time></div>
        </div>
        <p><a href="http://www.startribune.com/sen-amy-klobuchar-raises-over-11m-in-last-three-months-more-than-doubles-previous-haul/566674591/" target="new_">Sen. Amy Klobuchar raises over $11 million in past three months, more than doubles previous haul</a></p>

        <div class="byline">
            <div class="center"><time>Dec. 2, 2019</time></div>
        </div>
        <p><a href="http://www.startribune.com/klobuchar-presidential-campaign-staff-unionizes/565708022/" target="new_">Sen. Amy Klobuchar's presidential campaign staff unionizes</a></p>

        <div class="byline">
            <div class="center"><time>Nov. 7, 2019</time></div>
        </div>
        <p><a href="http://www.startribune.com/sen-amy-klobuchar-earns-slot-in-december-debate/564576772/" target="new_">Polling uptick pushes Sen. Amy Klobuchar into December debate</a></p>

        <div class="byline">
            <div class="center"><time>Oct. 26, 2019</time></div>
        </div>
        <p><a href="http://www.startribune.com/some-takeaways-from-the-star-tribune-minnesota-poll/563917622/" target="new_">Some takeaways from the Star Tribune Minnesota Poll</a></p>

        <div class="byline">
            <div class="center"><time>Oct. 24, 2019</time></div>
        </div>
        <p><a href="http://www.startribune.com/amy-klobuchar-qualifies-for-next-democratic-debate/563775112/" target="new_">Klobuchar hits polling threshold, qualifying for Nov. Democratic debate</a></p>
    </section>


    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">National polling average</h2>
    <section class="container-lg leadin">
        <p></p>
        <p>At 3.9 percent, Klobuchar's national polling average remains near the bottom of the pack, according to <a href="https://www.realclearpolitics.com/epolls/2020/president/us/2020_democratic_presidential_nomination-6730.html" target="new_">Real Clear Politics</a>, a service that aggregates poll numbers.</p>
  
        <p>She is doing better in Iowa, polling at 8.5 percent, while holding at 7.4 percent in New Hampshire.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">3.9%</div>
        <div class="metric"><strong>7th place</strong> (out of 12)</div>
        <div class="byline center">last updated January 27, 2020</div>
    </div>
  
  
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Fourth-quarter fundraising</h2>
    <section class="container-lg leadin">
       <p>Klobuchar <a href="http://www.startribune.com/sen-amy-klobuchar-raises-over-11m-in-last-three-months-more-than-doubles-previous-haul/566674591/">raised $11.4 million</a> in the fourth quarteer of 2019, according to her campaign — a big increase from the <a href="http://www.startribune.com/sen-amy-klobuchar-raised-4-8-million-in-third-quarter/562475062/">raised $4.8 million</a> and $3.87 million she raised in the third and second quarters, respectively, but still <a href="https://www.politico.com/2020-election/president/democratic-primary/candidates/fundraising-and-campaign-finance-tracker/" target="new_">far behind her leading rivals</a>.</p>
  
       <p>By comparison, Senators Bernie Sanders and Elizabeth Warren reported raising roughly $34.5 million and $21.2 million, respectively, in the most recent quarter, which runs from October through December.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">$11.4 million</div>
        <!-- <div class="metric">ranked <strong>8th place</strong> (out of 25)</div>   -->
        <div class="byline center">last updated January 6, 2020</div>
    </div>


  
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Major political endorsements</h2>
    <section class="container-lg leadin">
        <p></p>
        <p>Klobuchar has secured campaign endorsements from several high-profile Minnesota politicians, including Gov. Tim Walz, four members of Congress and former Vice President Walter Mondale. But she hasn't yet drawn prominent support from outside the state.</p>
  
        <p>According to the website FiveThirtyEight, <a href="https://projects.fivethirtyeight.com/2020-endorsements/democratic-primary/" target="new_">which tracks major political endorsements</a>, Klobuchar sits in the middle of the pack when counting endorsements from party leaders, governors, state officials, members of Congress and mayors of large cities.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">12</div>
        <div class="metric">ranked <strong>6th place</strong> (out of 11)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>

    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Field offices</h2>
    <section class="container-lg leadin">
        <p></p>
       <p>In terms of early ground game, Klobuchar has established 10 offices in Iowa and six in New Hampshire, according to <a href="https://www.nytimes.com/interactive/2019/10/12/us/politics/democratic-candidates-campaigns.html" target="new_">The New York Times</a>, yet lacks offices in other early states like South Carolina and Nevada.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">16</div>
        <div class="metric">ranked <strong>6th place</strong> (out of 10)</div>
        <div class="byline center">last updated October 12, 2019</div>
    </div>
  

    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Iowa counties visited</h2>
    <section class="container-lg leadin">
        <p></p>
       <p>So far the Klobuchar's campaign has brought her to 60 of Iowa's 99 counties in the leadup to the state's Democratic caucus in February.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">60</div>
        <div class="byline center">last updated November 9, 2019</div>
    </div>
  

    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Total debate speaking time</h2>
    <section class="container-lg leadin">
        <p></p>
       <p>As the Democratic field has narrowed, Klobuchar has earned more speaking time during major debates. But the total time she has spoken across the three debates conducted so far — calculated using numbers tabulated by <a href="https://www.washingtonpost.com/graphics/2019/politics/who-spoke-most-at-democratic-debate-september/" target="new_">The Washington Post</a> and CNN — is roughly four minutes less than average and far behind the race's frontrunners.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">29.6 minutes</div>
        <div class="metric">ranked <strong>9th place</strong> (out of 21)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>
  
    
    <div class="rule"></div>
    <h2 class="chartTitle" id="trigger">Average Google search share</h2>
    <section class="container-lg leadin">
       <p></p>
       <p>Search interest for candidates ebbs and flows, and Klobuchar saw her greatest spike in Google searches surrounding the third debate in September.</p>
  
       <p>But according to Bully Pulpit Interactive, a Democratic firm that tracks digital metrics like search interest, Klobuchar has trailed even many of her lesser-known rivals in <a href="https://2020campaigntracker.com/#shiny-tab-search_interest" target="new_">daily Google searches</a> between April and October.</p>
       </section>
    <div class="slide" id="breakdown">
        <div class="icon">1.2%</div>
        <div class="metric">ranked <strong>17th place</strong> (out of 25)</div>
        <div class="byline center">last updated October 15, 2019</div>
    </div>
  
    <div class="slide" id="change">
      <div class="chart"></div>
      <div class="byline">Data sources: Real Clear Politics, Federal Election Commission, FiveThirtyEight, The Washington Post, CNN, Bully Pulpit Interactive, Star Tribune reporting | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


  
  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Amy Klobuchar's campaign is doing, by the numbers" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>

      <div class="article-author-hcard">
        <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Torey Van Oot  </strong>reports on Minnesota politics and government for the Star Tribune.</span></p><p></p>
        <p><a class="article-author-hcard__email" target="_blank" href="mailto:torey.vanoot@startribune.com?subject=How Amy Klobuchar's campaign is doing, by the numbers" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">torey.vanoot@startribune.com</a>
        <a class="article-author-hcard__phone" href="tel:612-673-7299" data-linkname="612-673-7299" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-7299</a>
        <a class="article-author-hcard__twitter" href="http://twitter.com/toreyvanoot" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">toreyvanoot</a></p>
  </div>
    </div>


</section>
  </div>